{
  "plugins": [
    ["@babel/proposal-decorators", { "legacy": true } ],
    // ["transform-decorators-legacy"],
    // TODO: make this work 
    ["babel-plugin-styled-components"],
    [
      "module-resolver",
      {
        "root": ["./src"]
      }
    ]
  ],
  "presets": [
    ["react-app", { "absoluteRuntime": false }],
  ]
}